@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .custom-button {
    @apply px-3 py-1 shadow-md
           hover:shadow-[0_0_10px_rgba(0_0_0/0.3)]
           rounded-lg hover:bg-slate-700 
           duration-500;
  }
  .hoverEffect {
    @apply transition-all duration-400 ease-in-out;
  }
  .custom-input {
    @apply border px-1 py-1 text-black dark:text-white text-[15px] rounded-lg 
    border-gray-400 dark:border-white focus:outline-none
     focus:border-gray-700;
  }
}
